{% extends 'index.html' %}
{% block content %}
<script>
    let tabs_length = document.getElementsByClassName("selected-link").length
    for(let tab_index = 0; tab_index < tabs_length; tab_index++) {
        document.getElementsByClassName("selected-link")[tab_index].style["text-decoration"] = "none";
        document.getElementsByClassName("selected-link")[tab_index].style["color"] = "black";
    }

    document.getElementsByClassName("selected-link")[3].style["text-decoration"] = "underline";
    document.getElementsByClassName("selected-link")[3].style["color"] = "blue";
</script>
<div class="content-container">
    <div class="content-wrapper">

        <div class="content card mb-3" >
            <a href='https://www.bbc.com/worklife/article/20230103-how-to-strengthen-willpower' target="_blank" class="link">
                <div class="row g-0">
                
                    <div class="col-md-4">
                        <img src="https://ychef.files.bbci.co.uk/1600x900/p0dp4x45.webp" class="img-fluid rounded-start card-image" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">The mindset that brings unlimited willpower</h5>
                            <p class="card-text mt-4">Many people believe willpower is fixed and finite. Yet powerful strategies exist that can help us increase it.</p>
                            {% comment %} <p class="card-text"><small class="text-muted">10m read time</small></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="content card mb-3" >
            <a href="https://www.bbc.com/worklife/article/20230201-can-gen-z-make-friends-in-the-pandemic-era" target="_blank" class="link">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/14DAA/production/_128981458_gettyimages-1451357939.jpg" class="img-fluid rounded-start card-image" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Can Gen Z make friends in the pandemic era?</h5>
                            <p class="card-text mt-4 text-wrap text-truncate">For older generations, work was the sole place of connection. Without offices, young people have to get clever about making friends.</p>
                            {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="content card mb-3" >
            <a href="https://www.bbc.com/worklife/article/20230206-the-companies-backtracking-on-flexible-work" target="_blank" class="link">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ychef.files.bbci.co.uk/1600x900/p0f1fn5b.webp" class="img-fluid rounded-start card-image" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">The companies backtracking on flexible work</h5>
                            <p class="card-text mt-4">Amid looming economic instability and widespread layoffs, bosses are ordering their workers back to the office.</p>
                            {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
</div>
<script>
var selectedCategory;
</script>
{% endblock %}

