{% extends "index.html" %}

{% block content %}
<style>
    .post-header {
        display: flex;
        height: 30px;
    }
    .edit-button-div,
    .delete-button-div {
        /* position: absolute; */
        height: 35px;
        margin: 0px 3px !important;
        /* margin-left: auto !important; */
    }

    .delete-pop {
        display: none;
        position: absolute;
        height: 100px !important;
        width: 150px !important;
        left: 100%;
        border: 1px solid rgb(213, 213, 213);
    }

    .delete-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .delete-options button {
        color: #000;
        background-color: #fff;
        margin: 5px 20px;
        padding: 5px;
        border: 1px solid rgb(180, 180, 180, 0.8);
        border-radius: 5px;
        transition: 0.5s background-color, 0.5s color;
    }

    .delete-options button:hover {
        cursor: pointer;
        background-color: #ddd;
    }

    .edit-button,
    .delete-button {
        padding: 5px !important;
        padding-top: 6px !important;

        border: 1px solid #e14554;
        border-radius: 5px;
        height: 85% !important;

        color: #e14554;
        transition: color 0.2s, background-color 0.2s;
    }

    .edit-button {
        color: #4582dc !important;
        border: 1px solid #4582dc !important;
    }

    .edit-button:hover {
        color: #fff !important;
        background-color: rgb(76, 139, 231) !important;
        cursor: pointer;
    }

    .delete-button:hover {
        color: #fff;
        background-color: #e14554;
        cursor: pointer;
    }

    /* .delete-button-div:hover + .delete-pop {
        display: block;
    } */

    .confirm-delete {
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);
        padding: 3px 5px;
        background-color: rgb(240, 238, 233);
        border-bottom-color: rgba(28, 30, 31, 0.2);

    }

    .edit-button-div {
        margin-left: auto !important;
    }
    .post-title {
        margin-right: 10px;
    }
</style>

<form class="content-container" method="POST" action="/manage/">
    {% csrf_token %}
    <div class="content-wrapper">

        {% for post in posts %}
        <div class="content card mb-3" >
<!--            <a href={{ post.link }} target="_blank" class="link">-->
                <div class="row g-2">
                    <div class="col-md-4">
                        <img src={{ post.image }} class="img-fluid rounded-start card-image" alt="...">
                    </div>
                    <div class="col-md-8 text-container " >

                        <div class="card-body">
                            <div class="post-header">
                                <h5 class="card-title post-title">{{ post.title | slice:50 }}</h5>

                                <div class="btn-group edit-button-div" role="group" name={{ post.category }} id={{ post.id }}>
                                    <button class="bi bi-pencil-fill edit-button" name="edit"></button>
                                </div>

                                <div class="btn-group delete-button-div" role="group">
                                    <i class="bi bi-trash delete-button"></i>
                                </div>
                                <div class="delete-pop">
                                    <div class="confirm-delete" >Want to delete?</div>
                                    <div class="delete-options" name={{ post.category }} id={{ post.id }}>
                                        <button class="confirm-yes" name="delete-confirm" type="submit">Yes</button>
                                        <button class="confirm-no" type="submit">No</button>
                                    </div>
                                </div>

                                <!--<button type="button" class="btn btn-secondary"
                                        data-bs-toggle="popover" data-bs-placement="right"
                                        data-bs-custom-class="custom-popover"
                                        data-bs-title="Custom popover"
                                        data-bs-content="This popover is themed via CSS variables.">
                                    Custom popover
                                </button>-->


                            </div>
                            <p style="height: 75px; overflow: hidden;" class="card-text mt-4 overflow-hidden">{{ post.text }}</p>
                            {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                        </div>
                    </div>
                </div>
<!--            </a>-->

        </div>
        {% endfor %}

<!--    <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>-->


    </div>
</form>

<script>
    $(function () {
        console.log($(".delete-button-div")[0])
        $(".delete-button-div").click(function() {
            // console.log(this)

            console.log('status ', $(this)[0]["nextElementSibling"].style["display"]);
            if($(this)[0]["nextElementSibling"].style["display"] == "none" || $(this)[0]["nextElementSibling"].style["display"].trim() == "") {
                console.log("debug this");

                console.log($(this)[0]["children"][0])
                $(this)[0]["nextElementSibling"].style["display"] = "block";

                $(this)[0]["children"][0].style["color"] = "#fff";
                $(this)[0]["children"][0].style["background-color"] = "#e14554";
                $(this)[0]["children"][0].style["cursor"] = "pointer";
            }
            else {
                $(this)[0]["nextElementSibling"].style["display"] = "none";

                $(this)[0]["children"][0].style["color"] = "#e14554";
                $(this)[0]["children"][0].style["background-color"] = "#fff";
                $(this)[0]["children"][0].style["cursor"] = "pointer";
            }
        })
        /* $(".delete-button-div").mouseout(function() {
            // console.log(this)
            $(".delete-pop")[0].style["display"] = "none";
        }) */
    })

    $(".confirm-yes").click(function() {

        // console.log($(this).val())

        let categoryRegex = /[A-Z]\w+/
        let idRegex = /[1-9][0-9]*/

        let categoryName = $(this)[0]["parentNode"]
        let categoryId = parseInt(categoryName.outerHTML.match(idRegex)[0])

        categoryName = categoryName.outerHTML.match(categoryRegex)[0]
        console.log(categoryId, " - ", typeof(categoryId))
        console.log(categoryName, " - ", typeof(categoryName))

        $(this)[0]["value"] = JSON.stringify({"delete": "yes", "categoryId": categoryId, "categoryName": categoryName})
    })

    $(".edit-button").click(function () {

        let categoryRegex = /[A-Z]\w+/
        let idRegex = /[1-9][0-9]*/

        let categoryName = $(this)[0]["parentNode"]
        let categoryId = parseInt(categoryName.outerHTML.match(idRegex)[0])

        categoryName = categoryName.outerHTML.match(categoryRegex)[0]
        console.log(categoryId, " - ", typeof(categoryId))
        console.log(categoryName, " - ", typeof(categoryName))

        // $(this).value = "yes"
        // console.log($(this).val())

        $(this)[0]["value"] = JSON.stringify({"delete": "yes", "categoryId": categoryId, "categoryName": categoryName})

    })
    /*let fooPost = {{ posts }}
    console.log(fooPost)*/
</script>

{% endblock %}