{% extends "index.html"%}
{% block content %}
    <script>
        let tabs_length = document.getElementsByClassName("selected-link").length
        for(let tab_index = 0; tab_index < tabs_length; tab_index++) {
            document.getElementsByClassName("selected-link")[tab_index].style["text-decoration"] = "none";
            document.getElementsByClassName("selected-link")[tab_index].style["color"] = "black";
        }

        document.getElementsByClassName("selected-link")[1].style["text-decoration"] = "underline";
        document.getElementsByClassName("selected-link")[1].style["color"] = "blue";
    </script>

    <div class="content-container">
        <div class="content-wrapper">

            {% for post in posts %}
            <div class="content card mb-3" >
                <a href={{ post.link }} target="_blank" class="link">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src={{ post.image }} class="img-fluid rounded-start card-image" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title | slice:50 }}</h5>
                                <p style="height: 75px;" class="card-text mt-4 overflow-hidden">{{ post.text }}</p>
                                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

{% comment %} </div> {% endcomment %}

{% endblock %}