{% extends "index.html"%}
{% block content %}
    <script>
        let tabs_length = document.getElementsByClassName("selected-link").length
        for(let tab_index = 0; tab_index < tabs_length; tab_index++) {
            document.getElementsByClassName("selected-link")[tab_index].style["text-decoration"] = "none";
            document.getElementsByClassName("selected-link")[tab_index].style["color"] = "black";
        }

        document.getElementsByClassName("selected-link")[1].style["text-decoration"] = "underline";
        document.getElementsByClassName("selected-link")[1].style["color"] = "blue";
    </script>

    <div class="content-container">
        <div class="content-wrapper">

            <!--<div class="content card mb-3" >
                <a href='https://www.bbc.com/news/world-asia-india-64899489' target="_blank" class="link">
                    <div class="row g-0">
                    
                        <div class="col-md-4">
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/11997/production/_128978027_gettyimages-1237074072-594x594.jpg.webp" class="img-fluid rounded-start card-image" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Russia is still India's largest arms supplier, says report</h5>
                                
                                <p class="card-text mt-4">Russia continues to be India's largest arms supplier, even though its share of Indian defence imports fell from 62% to 45% between 2017-2022.</p>
                                {% comment %} <p class="card-text"><small class="text-muted">10m read time</small></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="content card mb-3" >
                <a href="https://www.bbc.com/news/world-asia-india-64899487" target="_blank" class="link">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/D5D8/production/_128944745_gettyimages-1067185682-594x594.jpg.webp" class="img-fluid rounded-start card-image" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Supreme Court rejects more money for Bhopal gas victims</h5>
                                <p class="card-text mt-4 text-wrap text-truncate">India's Supreme Court has rejected a plea seeking more compensation for victims of the 1984 Bhopal gas disaster.</p>
                                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="content card mb-3" >
                <a href="https://www.bbc.com/news/world-asia-india-64935389" target="_blank" class="link">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/71FD/production/_128318192_fmkt5ehaeaaxfa-.jpg.webp" class="img-fluid rounded-start card-image" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Oscars 2023: RRR's Naatu Naatu wins best original song</h5>
                                <p class="card-text mt-4">The song Naatu Naatu from the hit Telugu-language film RRR has made history by becoming the first Indian film song to win an Oscar.</p>
                                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->

            {% for post in posts %}
            <div class="content card mb-3" >
                <a href={{ post.link }} target="_blank" class="link">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src={{ post.image }} class="img-fluid rounded-start card-image" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title | slice:50 }}</h5>
                                <p style="height: 75px;" class="card-text mt-4 overflow-hidden">{{ post.text }}</p>
                                {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>

{% comment %} </div> {% endcomment %}

{% endblock %}